.section7-box {
  display: flex;
  justify-content: start;
  margin-right: 90px;
  font-family: "LexendDeca-Regular";

  .quest {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 56px;
    height: 68px;
    color: #ffcd36;
    background: #000000;
    border-radius: 8px;
  }
  .q {
    font-family: "LexendDeca-Bold";

    font-size: 24px;
  }
  .number {
    font-family: "LexendDeca-Regular";
    font-size: 16px;
  }

  .questBox {
    display: flex;
    flex-direction: column;
  }

  span {
    margin-left: 10px;
  }

  .ellipse {
    width: 15px;
    height: 15px;
    margin-top: 50px;
  }

  .box-iconBox {
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: start;
  }
  .iconBox-item {
    display: flex;
    justify-content: start;
    margin-bottom: 10px;
  }

  .img {
    height: 17px;
    width: 18px;
  }
}
