.section1 {
  background-image: url("../img/section1/Background.png"),
    linear-gradient(#f88015, #ffcc32);
  color: white;
  position: relative;
  background-size: cover;
  padding: 2.5rem 0 4rem;

  .content {
    padding: 0 1rem;
  }

  .title {
    font-family: "Titan One";
    font-size: 3.5rem;
    text-shadow: 0px 4px 30px rgba(255, 0, 0, 0.3);
  }

  .sub-text {
    margin: 1.25rem 0 2rem;
    font-size: 1.125rem;
    font-weight: 600;
    text-shadow: 0px 4px 20px rgba(255, 0, 0, 0.25);
    line-height: 1.4;
  }

  .button {
    background: linear-gradient(
      90.12deg,
      #f8179e 0.11%,
      rgba(248, 91, 23, 0.52) 97.84%
    );
    box-shadow: 0px 4px 20px rgba(255, 0, 0, 0.25);
    border-radius: 8px;
    align-items: center;
    padding: 12px 24px;
    border: 0;
    font-size: 1.125rem;
    margin-bottom: 36px;
    color: #fff;
    font-weight: 600;
  }

  .icons {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-row-gap: 2rem;

    svg {
      width: 2rem;
      height: 2rem;
    }
  }

  .characters {
    text-align: center;

    .banner-img {
      max-width: 100%;
      width: 300px;
    }
  }

  .video-wrapper {
    position: relative;
    width: 85%;
    margin: 0 auto;

    &::before {
      content: "";
      display: block;
      padding-top: 100%;
    }
  }

  .video-item {
    position: absolute;
    bottom: 0;

    &.left-girl {
      height: 89%;
      left: 0;
      width: 39%;
    }

    &.center-man {
      left: 50%;
      width: 42.7%;
      transform: translateX(-50%);
      z-index: 2;
      bottom: 5%;
    }

    &.right-girl {
      height: 92%;
      right: 0;
      width: 38%;
    }
  }

  @media screen and (min-width: 768px) {
    padding-left: 2rem;
    padding-right: 2rem;

    .button {
      font-size: 1.25rem;
    }

    .icons {
      grid-template-columns: repeat(7, 1fr);
      max-width: 420px;
    }

    .content {
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
    }

    .video-wrapper {
      width: 300px;
    }

    .text-box {
      padding-right: 1.5rem;
    }
  }

  @media screen and (min-width: 1024px) {
    .video-wrapper {
      width: 500px;
    }
  }

  @media screen and (min-width: 1300px) {
    .title {
      font-size: 90px;
    }

    .sub-text {
      font-size: 1.5rem;
    }

    .content {
      max-width: 1224px;
      margin: 0 auto;
    }

    .video-wrapper {
      width: 600px;
    }

    .button {
      font-size: 1.25rem;
    }
  }

  @media screen and ( min-width: 1441px ) {
    padding: 6.625rem 2rem 7.625rem;
  }
}
