.section8 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 55px 105px;
  background-color: black;


  .vid-box {
    width: 300px;
    margin-left: 115px;
  }

  .Shiba {
    width: 100%;
    transform: rotateY(180deg);
  }

  .box-text {
    margin-left: 30px;
  }

 
  .title {
    font-family: "Titan One";
    font-weight: 400;
    font-size: 64px;
    line-height: 73px;
    color: #ffffff;
  }

  .subText {
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #ffffff;
    margin: 12px 0 50px 0;
  }

  .iconBox {
    display: flex;
    width: 60%;
    justify-content: space-between;
    align-items: center;
  }

  .btn {  
    width: 400px;
    height: 82px;
    background: #ffcd36;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    margin: 40px 0;
    font-weight: 700;
    font-size: 36px;
    line-height: 50px;
  }


  @media screen and (max-width: 1400px){
    
    .title{
      font-size: 50px;
    line-height: 54px;
    }

    .btn{
      width: 340px;
      height: 76px;
      font-size: 30px;
    }

    .vid-box {
      text-align: center;
      width: 400px;
      margin-left: 0;
    }
  }

  @media screen and (max-width: 1200px){
    .title{
      font-size: 40px;
    }

    .subText {
      font-size: 22px;
    }
  }

  @media screen and (max-width: 1000px){
    flex-direction: column;

    .vid-box {
      margin-bottom: 25px;
    }

    .Shiba {
      width: 75%;
    }

    
  }

  @media screen and (max-width: 700px){

    .title {
      font-size: 32px;
      line-height: 40px;
    }
  }
}
